mixin article-wide()

  article.article-wide
    .article-wide__img
      img(src='images/articles/1.jpg', alt='')
    .article-wide__content
      h2.article-wide__title All about Investing in NFTs and related risks
      .article-wide__categorie crypto basic
