.link-more {
  color: $color-accent;
  font-family: $font-family-secondary;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.25s ease;

  &:hover {
    color: darken($color-accent, 5%);
  }
}
