.hero {
  padding-top: 88px;
  padding-bottom: 130px;

  .subtitle {
    max-width: 500px;
    margin: 0 auto;
  }
}

.hero__inner {
  max-width: 790px;
  margin: 0 auto;
  text-align: center;
}

.hero__btn {
  margin-top: 50px;
}
