-
  var coins = [
    {
      'name': 'BITCOIN',
      'abbr': 'BTC',
      'price': '56,623.54',
      'percent': '1.41%',
      'icon': 'btc.jpg',
      'url': '#'
    },
    {
      'name': 'ETHEREUM',
      'abbr': 'ETH',
      'price': '4,267.90',
      'percent': '2.22%',
      'icon': 'eth.jpg',
      'url': '#'
    },
    {
      'name': 'BINANCE',
      'abbr': 'BNB',
      'price': '587.74',
      'percent': '0.82%',
      'icon': 'bnb.jpg',
      'url': '#'
    },
    {
      'name': 'TETHER',
      'abbr': 'USDT',
      'price': '0.9998',
      'percent': '0,03%',
      'icon': 'usdt.jpg',
      'url': '#'
    }
  ];
