include coins.data.pug

mixin market-trend()

  section.market-trend
    .market-trend__inner
      h2.heading Market Trend
      .trend-coins
        each coin in coins
          .trend-coins__inner
            +coin-card(coin)

