mixin action-to-learn()

  section.action-to-learn
    .action-to-learn__inner
      .action-to-learn__desc
        h2.heading.action-to-learn__heading New In Cryptocurrency?
        h3.subtitle We'll tell you what cryptocurrencies are, how they work and why you should own one right now. So let's do it.
      +btn('Learn &amp; Explore Now')(href='#').action-to-learn__btn
