mixin get-started()

  section.get-started
    .get-started__inner
      .get-started__left
        h2.title How To Get Started
        h3.subtitle Simple and easy way to start your investment in cryptocurrency
        +btn('Get Started', 'large').get-started__btn
      ul.get-started-list
        li.get-started-list__item
          .get-started-list__icon
            img(src='images/get-started/1.png', alt='Account icon')
          .get-started-list__content
            h4.get-started-list__title Create Your Account
            .get-started-list__description Your account and personal identity are guaranteed safe.
        li.get-started-list__item
          .get-started-list__icon
            img(src='images/get-started/2.png', alt='Card icon')
          .get-started-list__content
            h4.get-started-list__title Connect Bank Account
            .get-started-list__description Connect the bank account to start transactions.
        li.get-started-list__item
          .get-started-list__icon
            img(src='images/get-started/3.png', alt='Portfolio icon')
          .get-started-list__content
            h4.get-started-list__title Start Build Portfolio
            .get-started-list__description Buy and sell popular currencies and keep track of them.

