//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.

include ../components/btn/btn.pug
include ../components/burger/burger.pug
include ../components/coin-card/coin-card.pug
include ../components/features/features.pug
include ../components/features-item/features-item.pug
include ../components/field-select/field-select.pug
include ../components/hero/hero.pug
include ../components/logo/logo.pug
include ../components/main-nav/main-nav.pug
include ../components/market-trend/market-trend.pug
include ../components/page-footer/page-footer.pug
include ../components/page-header/page-header.pug
include ../components/social/social.pug
