-
  var socials = [
    {
      'name': 'instagram',
      'url': '#'
    },
    {
      'name': 'facebook',
      'url': '#'
    },
    {
      'name': 'twitter',
      'url': '#'
    },
    {
      'name': 'youtube',
      'url': '#'
    }
  ];
