-
  var mainMenu = [
    {
      "id": "1",
      "name": "Home",
      "url": "/"
    },
    {
      "id": "2",
      "name": "Businesses",
      "url": "#"
    },
    {
      "id": "3",
      "name": "Trade",
      "url": "#"
    },
    {
      "id": "4",
      "name": "Market",
      "url": "#"
    },
    {
      "id": "5",
      "name": "Learn",
      "url": "#"
    }

  ];
