-
  var mainMenu = [
    {
      "id": "1",
      "name": "Home",
      "url": "/"
    },
    {
      "id": "2",
      "name": "Businesses",
      "url": "businesses"
    },
    {
      "id": "3",
      "name": "Trade",
      "url": "trade"
    },
    {
      "id": "4",
      "name": "Market",
      "url": "market"
    },
    {
      "id": "5",
      "name": "Learn",
      "url": "learn"
    }

  ];
