-
  var mainMenu = [
    {
      "id": "0",
      "name": "Main page",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Pages",
      "url": "/pages",
      "childs": [
        {
          "id": "10-0",
          "name": "About",
          "url": "pages/about"
        },
        {
          "id": "10-10",
          "name": "Services",
          "url": "pages/services"
        },
        {
          "id": "10-20",
          "name": "Some",
          "url": "pages/some"
        }
      ]
    }
  ];
