.main-nav {
  position: relative;
  z-index: 10;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-up(lg) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  position: relative;

  &--active {
    & > .main-nav__link {
      color: $color-accent;
      font-weight: 600;
    }
  }

  @include media-up(lg) {
    & + & {
      margin-left: 20px;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 0.625em;
  text-decoration: none;
  color: $link-color;
  font-family: $font-family-secondary;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    z-index: 1;
    text-decoration: none;
  }
}
