extends ../pug/layout.pug

block meta
  title Main
  //- meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +burger('Show main menu', 'mobile-nav', 'page-header__nav--open')
  .page-header__nav#mobile-nav
    +main-nav('1')
    .page-header__cta
      +field-select(
          '',
          {
            name: 'lang',
            id: 'lang'
          },
          [
            {
              title: 'EN',
              attrs: {
                value: 'en',
              }
            },
            {
              title: 'UA',
              attrs: {
                value: 'ua',
              }
            },
          ]
        )
      +btn('Login')


block content
  main.main
    +hero()



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
