-
  var featuresItems = [
    {
      'icon': '1.png',
      'title': 'Manage Portfolio',
      'text': 'Buy and sell popular digital currencies, keep track of them in the one place.',
      'url': '#'
    },
    {
      'icon': '2.png',
      'title': 'Protected Securely',
      'text': 'All cash balances are covered by FDIC insurance, up to a maximum of $250,000.',
      'url': '#'
    },
    {
      'icon': '3.png',
      'title': 'Cryptocurrency Variety',
      'text': 'Supports a variety of the most popular digital currencies and always uptodate.',
      'url': '#'
    },
        {
      'icon': '4.png',
      'title': 'Learn Best Practice',
      'text': 'Easy to know how to cryptocurrency works and friendly to newbie.',
      'url': '#'
    }
  ];
