-
  var articles = [
    {
      'title': 'What is cryptocurrency? all you need to know',
      'text': 'Cryptocurrencies are basically digital assets. It is secured by cryptography..',
      'categorie': 'crypto basic',
      'img': '2.jpg',
      'url': '#'
    },
    {
      'title': 'Can crypto really replace your bank account?',
      'text': 'From direct deposit to earning yield, key ways crypto can help you take control..',
      'categorie': 'crypto basic',
      'img': '3.jpg',
      'url': '#'
    },
    {
      'title': 'How to setup crypto wallet in your account',
      'text': 'A crypto wallet is a place where you can securely keep your crypto..',
      'categorie': 'tips & tricks',
      'img': '4.jpg',
      'url': '#'
    },
    {
      'title': 'The fact about bitcoin must you know',
      'text': 'Bitcoin is the world\'s first widely adopted cryptocurrency, it allows for secure..',
      'categorie': 'crypto basic',
      'img': '5.jpg',
      'url': '#'
    },
    {
      'title': 'When is the best time to invest in crypto?',
      'text': 'When prices are fluctuating, how do you know when to buy?',
      'categorie': 'tips & tricks',
      'img': '6.jpg',
      'url': '#'
    },
    {
      'title': 'What Is DeFi? Inside the Wild West of Cryptocurrency.',
      'text': 'Welcome to decentralized finance or DeFi, the new frontier of crypto that will..',
      'categorie': 'tips & tricks',
      'img': '7.jpg',
      'url': '#'
    }
  ];
