@use 'sass:color';

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$color-accent:                #0fae96;
$color-light:                 #ecf1f0;
$color-dark:                  #11011e;
$color-gray:                  #b6b6b6;



// Semantic colors

$text-color:                    $color-gray;
$text-color-muted:              $gray;
$title-color:                   $color-light;
$subtitle-color:                $color-gray;
$body-bg:                       $color-dark;
$btn-color:                     $color-accent;

$link-color:                    $color-light;
$link-color--hover:             $color-accent;

$border-color:                  $gray-lighten;


// Base typography

$font-size:                     16px;

$font-size-h1:                  36px;
$font-size-h2:                  32px;
$font-size-h3:                  24px;
$font-size-h4:                  18px;
$font-size-h5:                  16px;
$font-size-h6:                  16px;

$font-family:                   'Roboto', sans-serif;
$font-family-secondary:         'Raleway', sans-serif;
$line-height:                   1.5;


// Other

$border-radius:                 10px;
$container:                     1260px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
